body{
	background-color: #000;
	background-repeat: no-repeat;
	background-size: cover;
	color: #222;
	font-family:Aerial,Helvetica,sans-serif;
}
header{
	background-color: #111;
}
h1{
    text-align: center;
}

header nav{
	max-width:1200px;
	margin:0 auto;

}

header nav ul{
	padding:0;
	margin:0;
	overflow:auto;
}

header nav ul li{
	list-style: none;
	float:left;
}

header nav ul li a{
	color:#ccc;
	padding:20px;
	float:left;
	font-size:14px;
	text-decoration: none;
}

header nav ul li a:hover{
	color: cyan;
}

.container{
	background-color: #aaa;
	max-width:1200px;
	margin: 0 auto;
	min-height:200px;
}
.container img{
	margin: auto;
   margin-top:30px;
   margin-left: 10px;
   padding: 10px;

}

.home img{
margin: auto;
   margin-top:50px;
   margin-left: 10px;
   padding: 10px;



}

h2{
    text-align: center;
    background: pink;
}

.wrapper
{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 250px;
    padding:40px;
    box-sizing: border-box;
    background: #eee;
    box-shadow: 0 10px 30px rgba(0,0,0,.5);
}
.wrapper h2
{
    color: #666;
    margin: 0;
    padding: 0;
    text-align: center;
    font-size: 30px;
    text-transform: uppercase;
}
.input-field
{
    position: relative;
    width: 100%;
    margin-top: 50px;
}
.input-field input,
.input-field textarea
{
    width: 100%;
    padding: 5px 0;
    box-sizing: border-box;
    background: transparent;
    border: none;
    outline: none;
    border-bottom: 2px solid #666;
    font-size: 16px;
    color: #666;
    font-weight: 700;
    text-transform: uppercase;
    resize: none;
}
.input-field label
{
    position: absolute;
    top: 0;
    left: 0;
    padding: 5px 0;
    pointer-events: none;
    font-size: 16px;
    color: #666;
    font-weight: 700;
    text-transform: uppercase;
    transition: 1s;
}
.input-field input:focus + label,
.input-field textarea:focus + label,
.input-field input:valid + label,
.input-field textarea:valid + label
{
    top: -25px;
    font-size: 16px;
    padding: 2px 5px;
    background: #ff006a;
    color: #ff0;
    border-radius: 4px;
}
.btn
{
    margin-top: 20px;
    background: #ff006a;
    color: #fff;
    padding: 15px 30px;
    border: none;
    outline: none;
    border-radius: 30px;
    font-weight: 700;
    text-transform: uppercase;
    font-size: 16px;
    transition: 0.5s;
    float: right;
}
.btn:hover
{
    background: #6b3aff;
} 